<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="connection.url">jdbc:hsqldb:hsql://localhost:9001/</property>
		<property name="connection.username">SA</property>
		<property name="connection.password"></property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- JDBC connection pool (use the build-in) -->
		<property name="connection.pool_size">2</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<mapping class="con.tientm.entities.Department" />
		<mapping class="con.tientm.entities.Employee" />
		<mapping class="con.tientm.entities.SalaryGrade" />
		<mapping class="con.tientm.entities.TimeKeeper" />
	</session-factory>
</hibernate-configuration>
